main {
    width: 50%;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.jatekter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Változó használata, meret * 1fr | repeat(3, 1fr) */
    border: 1px solid black;
    height: 50vh;
}

.jatekter div {
    border-radius: 100%;
    padding: 10%;
    border: 1px solid black;
    margin: 10%;
}

h1, footer  {
    text-align: center;
}